.Bar {
     
    position: absolute;
    font-family: sans-serif;
    text-align: center;
    padding: 30px;
    width: 70%;
    margin-left: 95px;
    margin-right: auto;
    margin-top: 240px;

  }
  .indexedStep {
    color: white;
    width: 20px;
    height: 20px;
    font-size: 12px;
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .indexedStep.accomplished {
    background-color: rgba(0, 116, 217, 1);
  }
  
  .test {
    position: absolute;
    margin-top: 40px;
    color: grey;
    white-space: nowrap;
  }
  